body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}



.sidebar {
    width: 250px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li button {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background 0.3s;
}

.sidebar ul li button:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
    flex-grow: 1;
    background-color: #f4f4f4;
}
.panel {

}

 form {
 display: none;
}
table {
    display: none;
    padding: 20px;
}

        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
        }
        button {
            padding: 10px 15px;
            background-color: #Fd6A01;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        button:hover {
            background-color: #Fd6A01;
        }

        th, td {
            border: 1px solid #ccc;
            padding: 10px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }